#messages {
  height: 200px;
  overflow: overlay;
  padding: 10px 20px;
}

.no-margin {
  margin: 0;
}

#logo-header {
  margin: 100px auto;
  display: block;
  width: 120px;
  cursor: inherit;
}

.container {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
}

.messages-column {
  width: 70%;
  float: left;
  border-right: 1px solid #f0f0f0;
}

.users-column {
  width: calc(30% - 1px);
  float: left;
}

.top-box {
  display: block;
  background-color: #f0f0f0;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #949494;
}

 /* * { margin: 0; padding: 0; box-sizing: border-box; }
 body { font: 13px Helvetica, Arial; }
 form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
 form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
 form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
 #messages { list-style-type: none; margin: 0; padding: 0; }
 #messages li { padding: 5px 10px; }
 #messages li:nth-child(odd) { background: #eee; } */
